
    <div class="container mt-5">
        <h2 class="mb-4">My Hobbies</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="../resources/hike.webp" class="card-img-top" alt="Hobby 1">
                    <div class="card-body">
                        <h5 class="card-title">Hiking</h5>
                        <p class="card-text">Exploring the great outdoors and enjoying the beauty of the mountains.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="../resources/code.webp" class="card-img-top" alt="Hobby 2">
                    <div class="card-body">
                        <h5 class="card-title">Video Games</h5>
                        <p class="card-text">Decompressing and playing various video games.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="../resources/code.webp" class="card-img-top" alt="Hobby 3">
                    <div class="card-body">
                        <h5 class="card-title">Coding</h5>
                        <p class="card-text">Building projects and solving problems with creative technology solutions.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="../resources/code.webp" class="card-img-top" alt="Hobby 4">
                    <div class="card-body">
                        <h5 class="card-title">Architecture</h5>
                        <p class="card-text">Studying and recreating buildings and urban structures in Minecraft</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
