
  <div class="container mt-5">
      <div class="row align-items-center">
          <div class="col-md-4">
              <img src="./submission/resources/me.jpeg" alt="Shane Wierl" class="img-fluid rounded-circle">
          </div>
          <div class="col-md-8 ">
                <h1>Shane Wierl</h1>
              <p class="fs-5">A creative technologist focused on front-end and mid-stack development with a passion for building user-friendly apps and websites. I enjoy collaborating, problem-solving, and connecting with people to create meaningful experiences.</p>
              <a href="#" onclick="loadPage('./submission/views/resume.html'); return false;" class="learn-more btn">View My Resume</a>
              <a href="#" onclick="loadPage('./submission/views/projects.html'); return false;" class="learn-more btn">View My Projects</a>
          </div>
      </div>
  </div>
