
    <div class="container my-5">
        <h1 class="text-center mb-4">Coding Projects</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4" id="projects-container">
            <!-- Added by javascript -->
        </div>
        <h2 class="text-center mb-4 mt-5">Other Projects</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="../resources/speaker.jpg" class="card-img-top" alt="Other 1">
                    <div class="card-body">
                        <h5 class="card-title">Arduino Enhanced Speaker</h5>
                        <p class="card-text">A homemade bluetooth speaker made with an Arduino circuit to control on/off, and led light modes</p>
                        <ul class="skills">
                            <li>Arduino</li>
                            <li>Woodshop</li>
                            <li>Soldering</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="../resources/table.jpg" class="card-img-top h-70" alt="Other 2">
                    <div class="card-body">
                        <h5 class="card-title">Foldable Table</h5>
                        <p class="card-text">A foldable table, made from only scrap wood. Also created a removable poker table top</p>
                        <ul class="skills">
                            <li>Woodshop</li>
                            <li>CAD</li>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="../resources/3D-render.png" class="card-img-top" alt="Other 3">
                    <div class="card-body">
                        <h5 class="card-title">Personal Product Design</h5>
                        <p class="card-text">Designed and Rendered packaging for a personally branded product</p>
                        <ul class="skills">
                            <li>Adobe Illustrator</li>
                            <li>Adobe Photoshop</li>
                            <li>3D Modeling</li>
                            <li>Adobe InDesign</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>